{%- schema -%}
{
  "name": "Banners & Grids Content",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "banner_two_image",
      "label": "Second Banner Image"
    },
    
    {
      "type": "text",
      "id": "box_one_text",
      "label": "Box One Text",
      "default": "Default Box One Text"
    }
    ,{
      
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_one",
      "default": "#"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "box_two_text",
      "label": "Box Two Text",
      "default": "Default Box Two Text"
    },
    {
      
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_two",
      "default": "#"
    },
    
    {
      "type": "image_picker",
      "id": "background_image_two",
      "label": "Background Image (Box Two)"
    },
    {
      "type": "text",
      "id": "box_three_text",
      "label": "Box Three Text",
      "default": "Default Box Three Text"
    },
    {
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_three",
      "default": "#"
    },
    {
      
      "type": "image_picker",
      "id": "background_image_three",
      "label": "Background Image (Grid Three)"
    },
    {
      "type": "text",
      "id": "box_four_text",
      "label": "Box Four Text",
      "default": "Default Box Four Text"
    },
    {
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_four",
      "default": "#"
    },
    {
      "type": "image_picker",
      "id": "background_image_four",
      "label": "Background Image (Grid Four)"
    },
    {
      "type": "text",
      "id": "box_five_text",
      "label": "Box Five Text",
      "default": "Default Box Five Text"
    },
    {
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_five",
      "default": "#"
    },
    {
      "type": "image_picker",
      "id": "background_image_five",
      "label": "Background Image (Grid Five)"
    },
    {
      "type": "text",
      "id": "box_six_text",
      "label": "Box Six Text",
      "default": "Default Box Six Text"
    },
    {
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_six",
      "default": "#"
    },
    {
      "type": "image_picker",
      "id": "background_image_six",
      "label": "Background Image (Grid Six)"
    },
    {
      "type": "text",
      "id": "box_seven_text",
      "label": "Box Seven Text",
      "default": "Default Box Seven Text"
    },
    {
    "type": "text",
      "label": "Dynamic Href",
      "id": "dynamic_href_seven",
      "default": "#"
    },
    {
      "type": "image_picker",
      "id": "background_image_seven",
      "label": "Background Image (Grid Seven)"
    },
    {
      "type": "select",
      "id": "collection_selection",
      "label": "Select Collection",
      "options": [
        {"value": "", "label": ""},
        {"value": "-", "label": "-"}
      ]
    }
  ],
  
  "presets": [
    {
      "category": "Custom",
      "name": "Promotion Grid",
      "settings": {
        "box_one_text": "Default Box One Text",
        "box_two_text": "Default Box Two Text",
        "background_image_two": "",  
        "box_three_text": "Default Box Three Text",
        "background_image_three": ""  ,
        "box_four_text": "Default Box Four Text",
        "background_image_four": "" ,
        "box_five_text": "Default Box Five Text",
        "background_image_five": ""  ,
        "box_six_text": "Default Box Six Text",
        "background_image_six": ""  ,
        "box_seven_text": "Default Box Seven Text",
        "background_image_seven": ""  ,
        "collection_selection": "collection_one"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Two",
      "settings": {
        "background_image_two": "",  
        "box_two_text": "Default Box Two Text"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Three",
      "settings": {
        "background_image_three": "", 
        "box_three_text": "Default Box Three Text"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Four",
      "settings": {
        "background_image_four": "", 
        "box_three_text": "Default Box Four Text"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Five",
      "settings": {
        "background_image_five": "", 
        "box_three_text": "Default Box Five Text"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Six",
      "settings": {
        "background_image_six": "", 
        "box_three_text": "Default Box Six Text"
      }
    },
    {
      "category": "Custom",
      "name": "Promotion Grid Box Seven",
      "settings": {
        "background_image_seven": "", 
        "box_three_text": "Default Box Seven Text"
      }
    },
    {
      "category": "Custom",
      "name": "Banner One",
      "settings": {
        "banner_image": ""
      }
    },
    {
      "category": "Custom",
      "name": "Banner Two",
      "settings": {
        "banner_image": ""
      }
    }
  ]
}
{%- endschema -%}






   
   
   <div class="giant-banner-column first-banner-container">
      <div class="giant-banner first-banner">
         <img src='{{ section.settings.banner_image | img_url: 'master' }}'>
      </div>
   </div>
   <div class="giant-banner-column second-banner-container">
      <div class="giant-banner second-banner">
         <img src="{{ section.settings.banner_two_image | img_url: 'master' }}">
      </div>
   </div>

   
  <div class="sub-product-container">
   

     <div class="grid-item" 
    style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}');">
    <a href="{{ section.settings.dynamic_href_one }}" class="grid-item-content" >
    <span class="grid-item-text">{{ section.settings.box_one_text }}</span>
    </a>
    </div>
   
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_two | img_url: 'master' }}');"
      >
      <a href="{{ section.settings.dynamic_href_two }}" class="grid-item-content" >
      <span class="grid-item-text grid-item-text-2">{{ section.settings.box_two_text }}</span>
      </a>
   </div>
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_three | img_url: 'master' }}');"
      >
      <a href="{{ section.settings.dynamic_href_three }}" class="grid-item-content" >
      <span class="grid-item-text">{{ section.settings.box_three_text }}</span>
      </a>
   </div>
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_four | img_url: 'master' }};"
      >
      <a href="{{ section.settings.dynamic_href_four }}" class="grid-item-content" >
      <span class="grid-item-text">{{ section.settings.box_four_text }}</span>
      </a>
   </div>
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_five | img_url: 'master' }}');"
      >
      <a href="{{ section.settings.dynamic_href_five }}" class="grid-item-content" >
      <span class="grid-item-text">{{ section.settings.box_five_text }}</span>
      </a>
   </div>
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_six | img_url: 'master' }}');"
      >
      <a href="{{ section.settings.dynamic_href_six }}" class="grid-item-content" >
      <span class="grid-item-text">{{ section.settings.box_six_text }}</span>
      </a>
   </div>
   <div
      class="grid-item"
      style="background-image: url('{{ section.settings.background_image_seven | img_url: 'master' }}');"
      >
      <a href="{{ section.settings.dynamic_href_seven }}" class="grid-item-content" >
      <span class="grid-item-text">{{ section.settings.box_seven_text }}</span>
      </a>
   </div>
  </div>
   
  <style>
   .sub-product-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 10px;
   }
   .grid-item {
   padding: 20px;
   font-size: 30px;
   text-align: center;
   height: 200px;
   border-radius: 20px;
   position: relative;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   }
   .grid-item-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s ease;
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   }
   .grid-item-content-2{
   }
   .grid-item:hover .grid-item-content {
   opacity: 1;
   color: #ed4700;
   }
   .grid-item-text {
   display: inline-block;
   padding: 80px 160px;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 5px;
   }
   .grid-item-text-2{
   padding: 80px 320px;
   }
   .grid-item:nth-child(2) {
   grid-column: span 2;
   }
   .grid-item:nth-child(n + 8) {
   display: none;
   }
   .giant-banner-column {
   float: left;
   position: relative;
   overflow: hidden;
   margin-bottom: 10px;
   }
   .first-banner-container {
   width: calc(36% - 5px);
   margin-right : 10px;
   background-size: cover;
   background-position: center;
   }
   .second-banner-container {
   width: calc(64% - 5px);
   background-size: cover;
   background-position: center;
   }
   .giant-banner {
   border-radius: 25px;
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 400px;
   }
   .giant-banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   }

   @media (max-width: 750px){
    .giant-banner-column {
   width: 100%;
   margin-right: 0;
   margin-bottom: 20px;
   }
   .first-banner-container,
   .second-banner-container {
   width: 100%;
   }
   .grid-item {
   height: 150px;
   font-size: 20px;
   }
   }

   @media (max-width: 575px) {
     .giant-banner-column {
   width: 100%;
   margin-right: 0;
   margin-bottom: 20px;
   }
   .first-banner-container,
   .second-banner-container {
   width: 100%;
   }
   .sub-product-container {
   gap:10px;
   grid-template-columns: repeat(2, 1fr);
   }
   .grid-item {
   height: 100px;
   font-size: 24px;
   margin: 5px;
   padding: 15px;
   border-radius: 10px;
   }
   .grid-item:nth-child(2) {
   grid-column: span 1;
   }
   .grid-item:nth-child(3) {
   grid-column: span 2;
   }
   }
   </style>