{%- assign targetCollection = collections[section.settings.collection_one_cod_del] -%}
{%- assign collectionName = '' -%}
{%- if targetCollection != blank -%}
{%- assign collectionName = targetCollection.title -%}
{% if targetCollection.products_count != 0 %}
<div class="grid grid--no-gutters grid--uniform">
   <div class="row">
      {% for product in targetCollection.products limit: 8 %}
      <div class="grid__item medium-up--one-quarter small--one-half">
         <div class='productCard'>
            {% include 'product-card', product: product %}
            <div class="quantity-selector">
               <button class="quantity-btn decrease" onclick="updateQuantity('{{ product.variants.first.id }}', -1)">-</button>
               <input type="number" class="quantity-input" id="quantity-{{ product.variants.first.id }}" value="10" min="10" readonly />
               <button class="quantity-btn increase" onclick="updateQuantity('{{ product.variants.first.id }}', 1)">+</button>
            </div>
            <div class='text'>{{ settings.custom_text}}</div>
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="add-to-cart-form" data-variant="{{ product.variants.first.id }}">
               <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
               <input type="hidden" name="quantity" class="cart-quantity" value="2" />
               <div class="buttonsContainer">
                  <a href="/checkout" class="buynowbtn">Buy It Now</a>
                  <input type="submit" value="Add to Cart" class="addtocartbtn" />
               </div>
            </form>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endif %}
{%- endif -%}
<style>

      .text{
        margin-left:20px;
        font-size:10px;
        font-weight:bold;
        color:#1B4242;
      }
    .decrease{
      margin-left: 13%;
    }

    .increase{
      margin-right: 14%;
    }
  
   .buttonsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
   
   .productCard {
      width: 300px;
      height: 550px;
      border: 0px solid #ddd;
      padding: 10px; 
      margin-bottom: 20px; 
      overflow:hidden;
      margin-left:-0.5%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
     margin-top:20%;
     background-color: #ffffff;
   }

   .productCard img {
      max-width: 100%; 
      height:auto;
   }

   .btn {
      display: none;
   }

   .quantity-selector {
      display: flex;
      align-items: center;
      margin-top: 10px;
   }

   .quantity-btn {
      background-color: #2E4F4F;
      border: none;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      padding: 5px 17px;
   }

   .quantity-input {
      width: 50%;
      text-align: center;
      margin: 0 5px;
      cursor: default;
      user-select: none;
     margin: 0 auto;
     padding: 3px 1px;
     background-color: #FAF0E6;
   }

   .addtocartbtn, .buynowbtn {
      display: flex;
      align-items: center;
      margin-top: 2%;
      color: white;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 7px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.5s ease, transform 0.3s ease;
     whitespace: nowrap;
   }

   .addtocartbtn {
      background-color: #183D3D;
      padding: 10px 20%;
       margin-top:3%;
     margin-bottom:10px;
   }

   .addtocartbtn:hover {
      background-color: #93B1A6;
      transform: translateY(-5px);
   }

   .buynowbtn {
      background-color: #092635;
      padding: 10px 20.75%;
      margin-top:10%;
   }

   .buynowbtn:hover {
      background-color: #5C8374;
      text-decoration: none;
      color: white;
   }

   @media (max-width: 1175px) {
      .grid__item {
         width: 33.33% !important;
      }

      .productCard {
         margin-left:1.5%;
         width: 90%; 
         margin-bottom:0 !important;
         height:100%;
      }

      
   }

@media (max-width: 767px) {
   .grid__item {
      width: 100% !important;
   }

   .productCard {
      margin-left: 1.5%;
      width: 90%;
      margin-bottom: 0 !important;
      height: 100%;
     margin-top:10%;
   }

   .buttonsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
       align-items: baseline;
   }

   .addtocartbtn,
   .buynowbtn {
      padding: 10px 5%;
      margin-bottom: 0%;
      width: 48%; 
   }
}
</style>

{% schema %}
{
   "name": {
      "en": "Collection One COD DEL"
   },
   "settings": [
      {
         "type": "collection",
         "id": "collection_one_cod_del",
         "label": {
            "en": "Collection One COD DEL"
         }
      },
      {
         "type": "text",
         "label": {
            "en": "Custom Text"
         },
         "id": "custom_text",
         "default": "Free delivery for at least two items."
      }
    
   ]
}
{% endschema %}
<script>
   function updateQuantity(variantId, change) {
      const quantityInput = document.getElementById('quantity-' + variantId);
      let quantity = parseInt(quantityInput.value) + change;
   
      quantity = Math.max(quantity, 2);
      quantityInput.value = quantity;
   
      const cartQuantityInput = document.querySelector('form[data-variant="'+variantId+'"] .cart-quantity');
      cartQuantityInput.value = quantity;
   }
   
   document.querySelectorAll('.add-to-cart-form').forEach(form => {
      form.addEventListener('submit', event => {
         event.preventDefault();
         form.submit();
      });
   });
   
   document.querySelectorAll('.buynowbtn').forEach(buyNowBtn => {
      buyNowBtn.addEventListener('click', event => {
         event.preventDefault();
   
         clearCart();
   
         const form = buyNowBtn.closest('.add-to-cart-form');
         const variantId = form.querySelector('input[name="id"]').value;
         const quantity = form.querySelector('.cart-quantity').value;
   
         const checkoutForm = document.createElement('form');
         checkoutForm.action = '/cart/add';
         checkoutForm.method = 'post';
         checkoutForm.enctype = 'multipart/form-data';
   
         const productIdInput = document.createElement('input');
         productIdInput.type = 'hidden';
         productIdInput.name = 'id';
         productIdInput.value = variantId;
   
         const quantityInput = document.createElement('input');
         quantityInput.type = 'hidden';
         quantityInput.name = 'quantity';
         quantityInput.value = quantity;
   
         checkoutForm.appendChild(productIdInput);
         checkoutForm.appendChild

(quantityInput);
   
         document.body.appendChild(checkoutForm);
         checkoutForm.submit();
         document.body.removeChild(checkoutForm);
      });
   });
   
   function clearCart() {
      fetch('/cart.js')
         .then(response => response.json())
         .then(cartData => {
            if (cartData.items.length > 0) {
               cartData.items.forEach(item => {
                  fetch(`/cart/change/${item.key}.js`, {
                     method: 'POST',
                     headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                     },
                     body: JSON.stringify({
                        quantity: 0,
                     }),
                  });
               });
            }
   
            window.location.href = '/checkout';
         })
         .catch(error => {
            console.error('Error clearing cart:', error);
         });
   }
</script>