
 <h1 class="styled-heading"> United Charter School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">

    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/ucs-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-1_bcaa0375-f731-428e-acc7-48b3c1b43746.png?v=16903548872' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/ucs-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-2_dfb3886e-3a0d-4307-b4e9-d2239c1e22f6.png?v=1690354887' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/ucs-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-3_65027989-19f8-4c03-8a69-3cdf93c20383.png?v=1690354887' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ucs-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_695472fc-364f-4feb-bad7-99f8e0f49e63.png?v=1690354887' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/ucs-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-5_4fea1194-8895-43a1-b70d-c40e8c4f3a87.png?v=1690354887' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/ucs-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6_5d0c3da7-1d10-480c-b04e-e7f60145c73e.png?v=1690354887' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ucs-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7_5d8277df-7bf2-450e-bc3b-81b5df482e06.png?v=1690354887' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ucs-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8_316c9688-469c-4ee5-b6eb-db5edca201cb.png?v=1690354887' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/ucs-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-9_bb7695c6-5011-434c-8dd4-944b788af76c.png?v=1690354887' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ucs-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-10_0ac0ae5c-2307-4c64-8914-16dae99e20a7.png?v=16903548872' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>