  <h1 class="styled-heading">THE IRIS School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
		“THE IRIS SCHOOL”, is an independent, private education system, dedicated to imparting international standard contemporary education to our future generations.
</p>
  
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
   <a href ="https://katib.pk/collections/the-iris">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C_2.png?v=1686550364' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/iris-kg-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9_2.png?v=1686899127' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/iris-grade-11">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-01.png?v=1686318630' }}" alt="Class1">
    </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
    <a href ="https://katib.pk/collections/iris-grade-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-02.png?v=1686318630' }}" alt="Class 2">
  
</a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/iris-grade-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-03.png?v=1686318631' }}" alt="Class3">
    
</a>
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/iris-grade-4">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-04.png?v=1686318630' }}" alt="Class 4">
          </a>
  </div>
</div>
<div class="grid-container">
  <div class="grid-item">
      <a href ="https://katib.pk/collections/iris-grade-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-05.png?v=1686318630' }}" alt="Class5">
          </a>
  </div>
  
 <div class="grid-item">
       <a href ="https://katib.pk/collections/iris-grade-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-06.png?v=1686318631'}}" alt="Class 6">
          </a>
  </div>
  
<div class="grid-item">
      <a href ="https://katib.pk/collections/iris-grade-7">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/G-07_1.png?v=1686318631' }}" alt="Class 7">
          </a>
  </div>

<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>