
 <h1 class="styled-heading"> Pakistan International School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	Pakistan International School Qatar is committed to providing the right conditions for learning to happen successfully since 1985. We strive to partner with parents through communication and opportunities for active involvement. Our goal is to maintain a passionate and dedicated staff committed to providing quality education to our students. We aim at setting a benchmark for the best, innovative & pioneering education in Qatar. P.I.S.Q is housed in a spacious double storey building on 75.000 Sq. meters of land at Abu Hamour in Doha, Qatar. The land was graciously donated by the Emir of the State of Qatar to the people of Pakistani community. Lt. Gen. (R) Muhammad JahanZeb Arbab, the former Ambassador of the Islamic Republic of Pakistan to the State of Qatar (1980-86) played a major role in the establishment of the school...</p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/psi-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.39.jpg?v=1689071646' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/pis-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.38.jpg?v=1689071647' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/pis-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.38_1.jpg?v=1689071646' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/pis-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.38_2.jpg?v=1689071646' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="
https://katib.pk/collections/pis-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.38_3.jpg?v=1689071647' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/pis-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.38_4.jpg?v=1689071646' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/pis-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.39_1.jpg?v=1689071647' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/pis-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.39_2.jpg?v=1689071647' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/pis-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.39_3.jpg?v=1689071646' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/pis-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-11_at_12.15.39_4.jpg?v=1689071647' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>