
 <h1 class="styled-heading"> Beaconhouse School System </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
     The Beaconhouse School System has risen from its modest beginnings in 1975 as Les Anges Montessori Academy to become a major force in the education world. With an ever-expanding base, already established in the UK, Malaysia, the Philippines, Pakistan, the UAE, Oman, Belgium and Thailand, Beaconhouse is one of the largest private school networks in the world.
    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/beaconhouse-school-system-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-1.png?v=1689141674' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/beaconhouse-school-system-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-2.png?v=1689141674' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/beaconhouse-school-system-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-3.png?v=1689141675' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/beaconhouse-school-system-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-4.png?v=1689141674' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/beaconhouse-school-system-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-5.png?v=1689141674' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/beaconhouse-school-system-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-6.png?v=1689141674' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/beaconhouse-school-system-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-7.png?v=1689141674' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/beaconhouse-school-system-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-8.png?v=1689141674' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/beaconhouse-school-system-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-9.png?v=1689141674' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/beaconhouse-school-system-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/bss-10.png?v=1689141674' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>