  <h1 class="styled-heading"> Dr.A. Q. Khan School System</h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	Dr. A.Q. School System strives to be a unique community where the potential and talent of each individual is realized within a friendly and challenging environment based on Islamic principles..</p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  
 
   <a href ="https://katib.pk/collections/aq-grade-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_1.png?v=1687244146' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/aq-grade-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_2.png?v=1687246297' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/aq-grade-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_3.png?v=1687246297' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/aq-grade-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_4.png?v=1687246297' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="
https://katib.pk/collections/aq-grade-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_5.png?v=1687246297' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/aq-grade-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-6.png?v=1687246297' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/aq-grade-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_7.png?v=1687246297' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/aq-grade-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_8.png?v=1687246297' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/aq-grade-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_9.png?v=1687246297' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/aq-grade-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS_10.png?v=1687246297' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>