
 <h1 class="styled-heading"> The Times School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">

    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/TSS-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-1_f82e21d0-9adc-43ea-a8ea-9015893cef55.png?v=1690355938' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/TSS-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-2_8fdd12db-2865-48b3-8dc1-5f0b108e36c3.png?v=1690355938' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/TSS-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-3_05d9dfb3-80ea-4cfb-9984-01f18cca1142.png?v=1690355939' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/TSS-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_51ccf871-f816-4652-8be8-1f48dafd87a9.png?v=1690355939' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/TSS-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_51ccf871-f816-4652-8be8-1f48dafd87a9.png?v=1690355939' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/TSS-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6_3136a062-e742-4b92-b1e5-6d9297202ad9.png?v=1690355938' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/TSS-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7_62cc829d-de9f-4fb9-86bf-7ca12107e2e4.png?v=1690355938' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/TSS-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8_32f32877-7e2d-4cf0-be4a-05270fad5086.png?v=1690355939' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/TSS-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-9_62f055e3-4c43-4a04-af36-fcdb53d2a110.png?v=1690355938' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/TSS-21">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-10_e550e03b-b4fe-4803-b58c-a151a0c82dc3.png?v=1690355938' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>