 <h1 class="styled-heading"> Education bay </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	The school’s mission is consistent with its vision of sending out future generations of students who are able to compete and achieve success in their future education and their lives at the national as well as international level. Based on our robust educational programme which implants fortified core societal values, habits of personal discipline and academic technical knowledge to play a positive role as esteemed members of the national and global community, our students have the mental as well as the moral strength needed to attain it..</p>
<p>
 
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/ebs-class-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/EB_1.png?v=1687347740' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/ebs-class-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/eb_2.png?v=1687347740' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/ebs-class-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/eb_3.png?v=1687347739' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ebs-class-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Eb_4.png?v=1687347739' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/ebs-class-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/eb_5.png?v=1687347739' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/ebs-class-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/eb_6.png?v=1687347740' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ebs-class-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Eb_7.png?v=1687347740' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/ebs-class-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/eb_8.png?v=1687347739' }}" alt="Class 8">
    
  </a>
</div>
 
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>