
 <h1 class="styled-heading"> The City School Pakistan </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
      Established in Karachi in 1978, The City School is today one of the largest private school networks across the globe. Having more than 500 schools with over 150,000 students, we continue to expand our reach in other countries including United Arab Emirates, Malaysia, Philippines, Oman and Saudi Arabia, to meet the demands for quality education as well as to ensure a strong global presence.
    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="hhttps://katib.pk/collections/tcs-1">
       <img src="{{ '' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="hhttps://katib.pk/collections/tcs-2">
        <img src="{{ '' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="hhttps://katib.pk/collections/tcs-3">
       <img src="{{ '' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/tcs-4">
       <img src="{{ '' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="
">
       <img src="{{ '' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="hhttps://katib.pk/collections/tcs-6">
        <img src="{{ '' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/tcs-7">
       <img src="{{ '' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/tcs-8">
        <img src="{{ '' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/tcs-9">
        <img src="{{ '' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/tcs-10">
        <img src="{{ '' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>