
 <h1 class="styled-heading"> Delsol The School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
     Delsol The School shares the core values of respect, responsibility, honesty, fairness and compassion..
    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/delsol-the-school-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-1.png?v=1689138986' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/delsol-the-school-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-2.png?v=1689139007' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/delsol-the-school-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-3.png?v=1689138986' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/delsol-the-school-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-4.png?v=1689138986' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delso9l-5.png?v=1689138986' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/delsol-the-school-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-6.png?v=1689139007' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/delsol-the-school-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-7.png?v=1689138986' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/delsol-the-school-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-8.png?v=1689138986' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/delsol-the-school-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-9.png?v=1689139007' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/delsol-the-school-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/delsol-10.png?v=1689139162' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>