
   <h1 class="styled-heading"> Foundation Public School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">

    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/FPS-kindergarten">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-27_at_15.14.20.jpg?v=1690454216' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/fps-nursery">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-27_at_15.14.20_1_66e9a718-1571-4f48-b7e5-0bbf8a3a84bf.jpg?v=1690453250' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/FPS-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-1_c2b746b5-4cd1-4b9b-bf72-c757aad48358.png?v=16904538229' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-2">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-2_c24beeb5-e019-459e-990d-3589ab5d78ec.png?v=1690453822' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/FPS-3
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-3_6829941b-2e78-4edb-a559-2f3e0d6e6300.png?v=1690453821' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/FPS-4">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_bcdba352-7c41-48f2-940d-952ef313162a.png?v=1690453821' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-5_bc5b5d27-79b9-4030-8695-7c4e7e823b0c.png?v=1690453821' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6_79677396-9706-453e-81ad-1208f4289330.png?v=1690453821' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-7">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7_0b57ba2a-db23-4d07-8ed3-1a9e25854452.png?v=1690453821' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8_2486b33f-82e3-4c08-aa12-bfabe6f50f8e.png?v=1690453822' }}" alt="Class 10">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-9_24ff3db3-e612-4b73-968a-ea418b89178b.png?v=1690453822' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/FPS-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-10_4bf30c3d-01b5-48b3-b208-bf76efe67b0d.png?v=1690453822' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>