  <h1 class="styled-heading">Head start school </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
			Established in 1992, the Head Start School System, is a boutique school that has a deep rooted philosophy in Early Childhood Education. For over 30 years, Head Start has grown to become one the most renowned O Level schools in the country.	
</p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
   <a href ="https://katib.pk/collections/hss-class-nursery">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C_1.png?v=1686544487' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/hss-class-kindergarden">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C.png?v=1686544487' }}" alt="Class 2">
        </a>
    
  </div>
   <div class="grid-item">
   <a href ="https://katib.pk/collections/hss-class-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C01.png?v=1686388268' }}" alt="Class1">
    
    </a>
  </div>
  
</div>
<section class="multi-columns">
<div class="grid-container">
  
  <div class="grid-item">
 <a href ="https://katib.pk/collections/hss-class-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C02.png?v=1686388268' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/hss-class-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C03.png?v=1686388268' }}" alt="Class3">
    </a>
  </div>
   <div class="grid-item">
   <a href ="https://katib.pk/collections/hss-class-4">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C04.png?v=1686388268' }}" alt="Class 4">
</a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/hss-class-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C05.png?v=1686388269' }}" alt="Class5">
    
</a>
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/hss-class-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C06.png?v=1686388268'}}" alt="Class 6">
          </a>
  </div>
  <div class="grid-item">
      <a href ="https://katib.pk/collections/hss-class-7">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C07.png?v=1686388268' }}" alt="Class 7">
          </a>
  </div>
  <div class="grid-item">
       <a href ="https://katib.pk/collections/hss-class-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C08.png?v=1686388268'}}" alt="Class 8">
          </a>
    
  </div>
  <div class="grid-item">
       <a href ="https://katib.pk/collections/hss-grade-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C09.png?v=1686388268'}}" alt="Class 9">
   </a>
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/hss-class-10">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/C010_a3b8b4fe-d254-4e1c-8073-2f0a5e3daabf.png?v=1686546012' }}" alt="Class1">
    
    </a>
  </div>
  
</div>
 <script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
        <script>
          var wa_btnSetting = {"btnColor":"#16BE45","ctaText":"WhatsApp Us","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"right","whatsAppNumber":"3152959580","welcomeMessage":"How may we help you?","zIndex":999999,"btnColorScheme":"light"};
          window.onload = () => {
            _waEmbed(wa_btnSetting);
          };
        </script>
    <script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
<script>
var wa_btnSetting = {"btnColor":"#16BE45","ctaText":"WhatsApp Us","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"right","whatsAppNumber":"923171779936","welcomeMessage":"How may we help you?","zIndex":999999,"btnColorScheme":"light"};
window.onload = () => {
_waEmbed(wa_btnSetting);
};
</script>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>