
 <h1 class="styled-heading"> Air Foundation school  </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">

  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="hhttps://katib.pk/collections/afss-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-1_16101bce-52f8-4df1-bf6e-764a617e6405.png?v=1689750335' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="hhttps://katib.pk/collections/afss-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-2_600168f9-5c48-4ec3-a9a9-b0095091c513.png?v=1689750335' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="hhttps://katib.pk/collections/afsss-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-3_a0f4d1b9-717d-405a-82cd-d3ecc590c846.png?v=1689750335' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/afsss-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_642c4379-03cb-46b2-b99a-6addcaaf93c2.png?v=1689750335' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/afss-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-5_95d5f926-283e-4db0-97c8-a18775a8f256.png?v=1689750335' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="hhttps://katib.pk/collections/afsss-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6_2eefe6a2-162c-4fb0-91df-607bf9215cbc.png?v=1689750335' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/afsss-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7_67e6ce4c-58ae-4786-8e35-99fb81d33b04.png?v=1689750335' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/afsss-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8_da0dba7b-5945-444b-af51-e6cbb32b74dc.png?v=1689750335' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/afsss-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-9_ef26d768-8558-44ad-a8ec-c518fcbfa17f.png?v=1689750335' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="hhttps://katib.pk/collections/afsss-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-10_ae7e4013-5f7c-4b52-afd9-421b34bb8865.png?v=1689750335' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>