  <h1 class="styled-heading">THE HORIZON HIGH SCHOOL</h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	
     
      Welcome to The Horizon High, where we believe in preparing our children for the greatest challenge in their lives – to make informed decisions. As the leaders of tomorrow, our students need to be knowledgeable in various disciplines and skilled in communication and analysis. That’s why The Horizon High provides a dynamic and nurturing environment for the personal development of each student. We offer an internationally acclaimed, balanced curriculum that addresses the needs of our students, fostering their growth in all areas. Come discover our school and see how we prepare our students for success in their future endeavors</p>
  <
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  
 
   <a href ="https://katib.pk/collections/hplaygroup">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9_3.png?v=1686828139' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/hnursery">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9_1.png?v=1686827892' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/h-kg-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9_209a220c-5d76-4cf8-acfd-4c7a4b7f10ee.png?v=1686896134' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/h-kg-2">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9_1_a63b52dc-81f1-4774-b46b-4e22585900fd.png?v=1686896226' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/hc-class-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-01_0c64ffc5-3072-4902-b61b-d7561ab4c74b.png?v=1686049145' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/thhs-class-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-02_7d2f46a1-4409-46b5-9e86-588e11cddcbf.png?v=1686049144' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/thhs-class-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-03.png?v=1685972667' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/thhs-class-4">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-04_bcab2bcd-9301-4b46-b258-3cf51d4f773d.png?v=1685972894' }}" alt="Class 4">
</a>
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/thhs-class-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-05.png?v=1685972667' }}" alt="Class5">
    
</a>
  </div>
</div>
<div class="grid-container">
  <div class="grid-item">
        <a href ="https://katib.pk/collections/thhs-class-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-06.png?v=1685972667'}}" alt="Class 6">
          </a>
  </div>
   <div class="grid-item">
      <a href ="https://katib.pk/collections/thhs-class-7">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-07.png?v=1685972667' }}" alt="Class 7">
          </a>
    
  </div>
   <div class="grid-item">
   <a href ="https://katib.pk/collections/thhs-class-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Class-08.png?v=1685972667'}}" alt="Class 8">
          </a>
    
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/thhs-class-9-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/CLASS-9.png?v=1686048795'}}" alt="Class 9">
   </a>
  
  </div>
</div>
 
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>