
  <h1 class="styled-heading"> scholastic </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	Provide State-of-the-Art, Shariah-Compliant education; to nurture individuals with strong Islamic morals and character, that can make a difference to their communities and humanity in general, by serving as role models of excellence, integrity and humility...</p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  
 
   <a href ="https://katib.pk/collections/scholastic-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/ibne-umer-class-1_1.png?v=1687176489' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/scholastic-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/ibne-umer-class-2.png?v=1687176136' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/scholastic-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/ibne-umer-class-3.png?v=1687176136' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="
https://katib.pk/collections/scholastic-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4-ibne-umer.png?v=1687176137' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/scholastic-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-5-ibne-umer.png?v=1687176136' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="
https://katib.pk/collections/scholastic-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6-ibne-umer.png?v=1687176136' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/scholastic-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7-ibne-umer.png?v=1687176136' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/scholastic-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8-ibne-umer.png?v=1687176136' }}" alt="Class 4">
    
  </a>
  </div>
 
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>