<h1 class="styled-heading">Karachi Public School</h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	
     
     “With faith, discipline and selfless devotion to duty, there is nothing worthwhile that you cannot achieve.”</p>
  <
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  
 
   <a href ="https://katib.pk/collections/kps-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps1.jpg?v=1688813364' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/kps-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps2.jpg?v=1688814263' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/kps-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps3.jpg?v=1688813377' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kps-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps4.jpg?v=1688813377' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/kps-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps5.jpg?v=1688813377' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/kps-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps6.jpg?v=1688813377' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kps-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps7.jpg?v=1688813377' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kps-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps8.jpg?v=1688813377' }}" alt="Class 4">
</a>
  </div>
  <div class="grid-item">
   <a href ="https://katib.pk/collections/kps-9">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/kps9.jpg?v=1688813377 ' }}" alt="Class5">
    
</a>
  </div>
</div>

<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>