
 <h1 class="styled-heading"> IUSS </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
    The mission of IUSS is to promote learning, to equip students with perceptual skills, and to ignite an attitude of learning and inquiry through stimulating academic study, creativity and independent thought.It seeks to create a challenging learning environment and to provide innovative resources that encourage a culture of high expectations, where each individual will feel valued, grow in inspiration, tenacity, and ambition, and form long-lasting bonds with their peers, teachers, mentors, families, and society. IUSS, aims to generate an ambiance of mutual collaboration, with appreciation for individual differences and community values.
    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/iuss-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.45_1.jpg?v=1689144671' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/iuss-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.45_2.jpg?v=1689144672' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/iuss-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.45_3.jpg?v=1689144672' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/iuss-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.45_4.jpg?v=1689144672' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/iuss-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.46.jpg?v=1689144672' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/iuss-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.46_1.jpg?v=1689144672' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/iuss-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.46_2.jpg?v=1689144672' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/iuss-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.46_3.jpg?v=1689145506' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/iuss-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.46_4.jpg?v=1689145507' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/iuss-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp_Image_2023-07-12_at_11.43.45.jpg?v=1689144672' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>