
 <h1 class="styled-heading"> King International School </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">

    </p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/kis-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-1_6fa04162-3b72-4c19-a420-2c7d835ec2b5.png?v=1690279052' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/kis-2">
        <img src="{{ 'hhttps://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-2_06446fd6-d723-49c2-ad55-17e9debd3b2a.png?v=1690279052' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/kis-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-3_ea77e7fa-d602-40e7-af1c-84bcba49b9a4.png?v=1690279053' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kis-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-4_8e5d9259-6b1f-492d-9d48-692f59d0fc72.png?v=1690279053' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/kis-5
">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-5_515a4fe8-2161-4cf8-a2e6-8dfe1dfe0119.png?v=1690279053' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/kis-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-6_9deae423-4aaa-441d-a886-c19402eb7e33.png?v=1690279052' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kis-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-7_19cbe4f8-51b6-48aa-b28f-e6a70409bd96.png?v=1690279053' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kis-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-8_d81a4afa-ef91-484f-91a2-d23dd9ff04a6.png?v=1690279052' }}" alt="Class 8">
    
  </a>
</div>
   <div class="grid-item">
  <a href ="https://katib.pk/collections/kis-9">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-9_b99a693d-7bba-4e6a-9202-e3a2a41b7318.png?v=1690279052' }}" alt="Class 9">
    
  </a>
</div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/kis-10">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/class-10_06482b23-9930-4231-8f10-6ce654c71a3a.png?v=1690279052' }}" alt="Class 10">
    
  </a>
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>