 <h1 class="styled-heading"> Hira Foundation </h1>
    <p class="stm-page-head__subtitle" style="color:#000000">
	The journey of this institution was started in the month of October, 2004. Its first session was conducted in March, 2005 under the direct supervision of the top management of Jamia Darul Uloom.</p>
<p>
  <section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  

   <a href ="https://katib.pk/collections/hf-1">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-1.png?v=1687351076' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
 <a href ="https://katib.pk/collections/hf-2">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-2.png?v=1687351077' }}" alt="Class 2">
        </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/hf-3">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-3.png?v=1687351077' }}" alt="Class3">
    </a>
  </div>
</div>
<br>
<section class="multi-columns">
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/hf-4">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-4.png?v=1687351076' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
<a href ="https://katib.pk/collections/hf-5">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-5.png?v=1687351076' }}" alt="Class1">
    
    </a>
  </div>
  <div class="grid-item">
    <a href ="https://katib.pk/collections/hf-6">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-6.png?v=1687351076' }}" alt="Class 2">
        </a>
  </div>
</div>
<br>
<div class="grid-container">
  <div class="grid-item">
  <a href ="https://katib.pk/collections/hf-7">
       <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-7.png?v=1687351076' }}" alt="Class3">
    </a>
  </div>
  <div class="grid-item">
  <a href ="https://katib.pk/collections/hf-8">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0578/5826/1177/files/hfs-class-8.png?v=1687351076' }}" alt="Class 8">
    
  </a>
</div>
 
</div>
<style>
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 10px; /* Adds a gap between columns */
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}

</style>